/* Write your CSS here */
ul {
  display: flex;
  flex-direction: column;
}
li {
  display: flex;
}
input {
  margin: 10px;
}
div {
  background-color: #475569;
  color: white;
}
label {
  color: white;
}
